@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
}

p {
  font-weight: 300;
}

header {
  grid-area: header;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;

  animation: moveAndFadeIn 1s linear 0.5s both;
}

.container {
  display: grid;
  grid-template-rows: minmax(0, 2fr) 1fr 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';

  justify-items: center;
  height: 100vh;
  max-width: 980px;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  grid-area: main;
  align-self: start;
  max-width: 700px;
  margin: 0px 20px;

  animation: moveAndFadeIn 1s linear 0.6s both;
}

footer {
  grid-area: footer;
  margin: 30px;
  width: 100%;

  animation: moveAndFadeIn 1s linear 0.75s both;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

h1 {
  margin: 20px 0px;
  font-size: 2rem;
  color: #1f2e47;
}

.row a {
  padding: 20px;
  color: #1f2e47;
}

.row a:hover {
  color: #f3c969;
  transition: 0.3s;
}
h1 {
  text-align: center;
}

@keyframes moveAndFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-6px);
  }
  40% {
    opacity: 0.8;
    transform: translateX(-3px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 699px) {
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: minmax(0, 1fr) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'header main'
      'header footer';

    padding: 20px;
  }

  header {
    align-self: center;
  }

  main {
    align-self: end;
  }

  main p {
    border-left: 1px solid #e3e8f3;
    border-right: 1px solid #e3e8f3;
    padding: 0px 10px;
  }

  footer {
    padding-top: 30px;
  }
}
