@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600&display=swap');

$breakpoints: (
  small: 380px,
  medium: 800px,
  large: 1000px,
);

$navbar-height: 40px;

@keyframes moveAndFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-6px);
  }
  40% {
    opacity: 0.8;
    transform: translateX(-3px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@mixin mq-min($br) {
  $size: map.get($breakpoints, $br);
  @media (min-width: $size) {
    @content;
  }
}

@mixin mq-max($br) {
  $size: map.get($breakpoints, $br);
  @media (max-width: $size) {
    @content;
  }
}
@mixin animateFadeIn($delay, $seconds) {
  animation: moveAndFadeIn delay linear $seconds both;
}
@mixin slide($area) {
  grid-area: $area;
  scroll-snap-align: start;
  padding-top: 20vh;

  @include mq-min(medium) {
    min-height: 100vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

:root {
  /* https://colorhunt.co/palette/261c2c3e2c415c527f6e85b2 */
  --bg-color: #ffffff;
  --text-color: #191a19;
  --text-color-accent1: #3e2c41;
  --text-color-accent2: #5c527f;
  --text-color-accent3: #6e85b2;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.1rem;
}

.textblock {
  margin-top: 15px;
  padding: 0px 10px;
  border-left: 1px solid var(--text-color-accent3);
  @include mq-max(medium) {
    border-right: 1px solid var(--text-color-accent3);
  }
}

.container {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  padding-inline: 20px;
  // Vignette Effect
  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.3) inset;
    z-index: -1;
  }
  @include mq-min(small) {
    margin-inline: auto;
    width: 380px;
  }
  @include mq-min(medium) {
    margin-inline: auto;
    width: 800px;
  }
}

header {
  grid-area: header;
  scroll-snap-align: start;
  position: sticky;
  z-index: 10;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $navbar-height;
  width: 100%;
  @include animateFadeIn(1, 0.5);

  nav {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  ul {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  li {
    display: inline;
  }
  a {
    padding: 10px 5px;
    color: var(--text-color-accent3);
    text-decoration: none;
  }
  a:active {
    color: var(--text-color-accent2);
  }
  a:hover {
    color: var(--text-color-accent2);
  }

  @include mq-max(medium) {
    .show {
      background-color: white;
    }
    .hide {
      display: none;
    }
  }
}

main {
  margin-top: -$navbar-height;
  display: grid;
  grid-template-areas:
    'profil'
    'about'
    'skills'
    'projects'
    'footer';

  @include mq-min(medium) {
    grid-template-rows: 100vh min-content min-content min-content;
    grid-template-areas:
      'profil about'
      '. skills'
      '. projects'
      '. footer';
    column-gap: 50px;
  }
}

footer {
  grid-area: footer;
}

h1 {
  padding-top: 10px;
  font-size: 2rem;
  color: var(--text-color-accent1);
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  padding-left: 10px;
}

.profil {
  grid-area: profil;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: $navbar-height;
  &__title {
    text-align: center;
  }
  &__contact {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  a {
    padding: 20px;
    font-size: 1.5rem;
    color: var(--text-color-accent3);
  }
  a:hover {
    color: var(--text-color-accent2);
    transition: 0.3s;
  }
  img {
    height: 30vh;
    border-radius: 50%;
    animation: moveAndFadeIn 1s linear 0.5s both;
  }
  @include mq-min(medium) {
    position: sticky;
    top: 0;
  }
}

.about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
}

.skills {
  @include slide(skills);

  ul {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  li {
    display: flex;
    flex: 1 1 100%;
    flex-flow: column nowrap;
    text-align: center;
  }

  li img {
    object-fit: contain;
    height: 30px;
    filter: grayscale(100%);
  }
  li img:hover {
    filter: grayscale(50%);
  }
  .green:hover {
    filter: invert(23%) sepia(100%) saturate(1279%) hue-rotate(90deg)
      brightness(96%) contrast(102%);
  }
}

.projects {
  @include slide(projects);

  ul {
    padding-top: 10px;
  }

  li {
    padding-inline: 20px;
    padding-block: 30px;
    list-style: none;
  }

  &__head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    color: var(--text-color-accent3);
  }
  &__title {
    font-size: 1.1rem;
    text-decoration: underline;
  }
  &__typ {
    font-weight: 300;
    text-align: right;
  }
  &__source {
    display: flex;
    position: relative;
  }
  img {
    object-fit: contain;
    height: 20px;
    filter: grayscale(100%);
  }
  p {
    color: var(--text-color);
  }

  a {
    padding-block: 5px;
    color: var(--text-color-accent3);
    text-decoration: none;
  }

  a:hover {
    color: var(--text-color-accent2);
  }

  @include mq-min(medium) {
    padding-bottom: 40px;
  }
}

footer {
  text-align: center;
  font-size: 0.8rem;
  height: 40px;
  margin-top: 40px;

  @include mq-min(medium) {
    margin: -40px;
  }
}
